@using LibraryManagement.Models
@model LoginViewModel
@{
    Layout = null;
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .login-container {
        max-width: 400px;
        width: 100%;
    }

    .login-card {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
    }

        .login-card h2 {
            color: #333;
        }

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        padding: 12px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

        button:hover {
            background-color: #0056b3;
        }

    .checkbox {
        display: flex;
        align-items: center;
    }

        .checkbox input[type="checkbox"] {
            margin-right: 8px;
        }
</style>

<div class="login-container">
    <div class="login-card">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email", required = "required" })
            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter your password", required = "required" })

            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, "Remember Me")
            </div>
            <button type="submit">Login</button>
        }
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
